doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style(type="text/css").
        body, body * { font-family: Arial, Helvetica, sans-serif; }
        div.contentHldr { display: flex; justify-content: center; }
        div.contentMain { width: 500px; }
        div.centerAlign { text-align: center; }
        #finkLogo { width: 172px; height: 47px; }
        #outlook a { padding: 0; }
        xml { display: none !important; }
        .outlook-group-fix { width:100% !important; }
        @media only screen and (max-width:480px) { @-ms-viewport { width:320px; } @viewport { width:320px; } }
    xml
      o:OfficeDocumentSettings
        o:AllowPNG
        o:PixelsPerInch 96
  body
    div(class="contentHldr")
      div(class="contentMain")
        div(class="centerAlign")
          img(src=imagebase + "finklogo.png", id="finkLogo")
        div [[main]]
        div footer