doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style(type="text/css").
        body { -webkit-text-size-adjust: 100%; }
        p { font-weight: 100; line-height: 22px; }
        #outlook a { padding: 0; }
        .outlook-group-fix { width:100% !important; }
        @media only screen and (max-width:480px) { @-ms-viewport { width:320px; } @viewport { width:320px; } }
  body(style="font-family: Arial, Helvetica, sans-serif; margin:0px; padding: 0px; font-weight: light;")    
    div(align="center")      
      div(id="headzone")
        table(cellpadding="0", cellspacing="0", border="0" width="460")
          tr
            td(align="center")
              a(href="https://finer.ink")
                img(src=imagebase + "finklogo.png", alt="FinerInk Logo", id="finkLogo", style="width: 100px; height: 32px;", width="100", height="32", border="0", data-imagetype="External")
          tr
            td(style="padding-bottom: 20px; padding-left: 20px; padding-right: 20px;")
              div(style="font-size:16px;font-weight: 100; line-height: 22px;") [[main]]
      
      div(bgcolor="#F4F4F4", style="background-color: #F4F4F4;")
        table(cellpadding="0", cellspacing="0", border="0" width="460")
          tr
            td(style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;")      
              p(style="color: #8FA4AF; font-weight: bold;padding: 0px; margin: 0px; font-size: 14px;") About FinerInk
              p(style="color: #8FA4AF; font-size:13px;font-weight:lightest;line-height:18px;") We are on a mission to help people like yourself share your thoughtful opinions about the buying experience. A few minutes can help shape the future of an organization and the people who work there. 
              p(style="color: #8FA4AF; font-size:13px;font-weight:lightest;line-height:18px;")
                | Don't want to hear from us anymore? That’s fine, you can 
                a(href=unsuburl, style="color:#8FA4AF;") unsubscribe
                | .
              div(align="center", class="centerAlign", style="text-align: center;")
                img(src=imagebase + "bridge.png", alt="Made in San Francisco", id="bridge", width="100", height="38", style="width: 100px; height: 38px; margin-top: 15px;")