p Hi #{contact.FirstName},
p We noticed that you had considered #{org.name} in a potential buying decision. Please help us help FunCo know what they can do better next time.
div(style="text-align:center; font-size:20px; font-weight:bold")
  span How was your overall experience with #{org.name}?